{% extends 'base.html' %}

{% block title %}Admin Page{% endblock %}

{% include 'navbar.html' %}
        {% block navbar %}
{% endblock %}

{%block body%}
<div class = "container">
    <div class="row">
        <div class = "col">
            <table class = "table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Image ID</th>
                        <th scope="col">User Submitted</th>
                        <th scope="col">Image description</th>
                        <th scope="col">Image File</th>
                        <th scope="col">Image Submitted?</th>
                        <th scope="col">Submission Status</th>
                        <th scope="col">Public</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images%}
                    <tr>
                        <th scope ="row">{{image.image_id}}</th>
                        <td>{{image.user.username}}</td>
                        <td>{{image.description}}</td>
                        <td>{{image.image_src}}</td>
                        <td>{{image.submitted}}</td>
                        <td>
                            <select id = "submission-status-{{image.image_id}}" name = "submission-status">
                            <option value ="{{image.submission_status}}">{{image.submission_status}}</option>
                            <option value = "Pending"> Pending</option>
                            <option value = "Not Submitted">Not Submitted</option>
                            <option value = "Denied">Denied</option>
                            </select>
                        </td>
                        <td>{{image.public}}</td>
                        <td><button class = "green-button update-info" value ={{image.image_id}}> Update Info </button> </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}

{% block after_body %}
<script src = "static/admin-functions.js"></script>
{% endblock %}  

