{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% include 'navbar.html' %}
        {% block navbar %}
{% endblock %}

{%block body%}
<section class="container d-flex justify-content-center align-items-center">
<div class="row">
  <div class="col">
    <h2 class="mx-5 hero-message"> Need some chore motivation? </h2>
    <a href="view-mundane"type="button" class="mx-5 btn btn-lg" id="view-chores"  >Do chores w/a buddy</a>
  </div>
</div>
</section>
<section  id = "squiggle-background">
</section>

<section class ="green-background">
        <div class="container">
                <div class="row">
                        <div class="col">
                        <h3 class="align-items-center">How it works</h3><hr>
                        </div>
                </div>
                <div class="row">
                        <div class="col-2">
                                <h4>1</h4>
                        </div>
                        <div class="col-2">
                                <h5>Pick a chore</h5>
                                <p>Begin with the end in mind! Select a chore and figure out what it takes to finish that chore. </p>
                        </div>
                        <div class="col-2">
                                <h4>2</h4>
                        </div>
                        <div class="col-2">
                                <h5>Watch some chores</h5>
                                <p> When you're ready to start, click into our chore video dashboard. Each video lasts approximately 10 min long.</p>
                        </div>
                        <div class="col-2">
                                <h4>3</h4>
                        </div>
                        <div class="col-2">
                                <h5>Do your chores</h5>
                                <p>Start working on your chore as your video buddy completes their chores. Remember to take breaks! </p>
                        </div>
                </div> 
        </div> 
</section>

<section  id = "squiggle-background-reverse">
</section>

<section id="love-chorebuddy">
        <div class="container" >
                <div class="row">
                        <div class="col-6 d-flex justify-content-center text-left " style="flex-direction: column;">
                        <h3>Love ChoreBuddy?</h3>
                        <p>Submit an anonymous video of you doing chores and give back to the community!</p>
                        </div>
                        <div class="col-6  d-flex justify-content-center">
                        <img class=""src= "static/sixteen-miles-out-BlLh0xjlJCw-unsplash.jpg" style="width:300px;height:300px;" alt="Photo by Sixteen Miles Out on Unsplash">
                        </div>
                </div>
        </div>

</section>

{% include 'footer.html' %}
        {% block footer %}
{% endblock %}
{%endblock%}
