{% block navbar%}
<nav class ="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">  ChoreBuddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      {% if 'user_id' not in session%}
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup">Sign Up</a>
      </li>
      {% endif %}
      {% if 'user_id' in session%}
      <li class="nav-item">
        <a class="nav-link" href="logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="userprofile">User Profile</a>
      </li>
      {% endif %}

    </ul>
  </div>
</nav>
{%endblock%}
