{%block submit_image_modal%}

<div id="submit-img-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">

      <span class="close">&times;</span>
      <div class="form">
      <form action ="/new-image" method='POST' enctype="multipart/form-data">
          <div class="form-group">
              <label for="input-img">Image</label>
              <input type="file" name="input-img" class="form-control" id="input-img">
          </div>
          <div class="form-group">
            <label for="alt-text">Alt text</label>
            <input type="text" name = "alt-text" class="form-control" id="alt-text">
        </div>
          <div class="form-group">
              <label for="img-description">Description</label>
              <input type="text" name = "img-description" class="form-control" id="img-description">
          </div>
          <div class="form-group">
            <label for="img-submission-public">Submit for Public Viewing</label>
            <input type="checkbox" name ="img-submitted-public" id="img-submitted-public" value = "True">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
  </div>
  
  </div>
{%endblock%}

{%block edit_image_modal%}
<div id="edit-img-modal" class="modal">
    <!-- Modal content -->
   
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="form">
      
      <form action ="/edit-image" method='POST' enctype="multipart/form-data">
          <div class="form-group">
              <div id="img-prev"></div> 
              <label for="edit-img">Image</label>
              <input type="file" name="edit-img" class="form-control" id="edit-img">
            </div>
          <div class="form-group">
            <label for="edit-alt-text">Alt text</label>
            <input type="text" name = "edit-alt-text" class="form-control" id="edit-alt-text" value ="">
        </div>
          <div class="form-group">
              <label for="img-description">Description</label>
              <input type="text" name = "edit-img-description" class="form-control" id="edit-img-description" value="">
          </div>
          <div class="form-group">
            <label for="img-submission">Submit for Public Viewing</label>
            <input type="checkbox" name ="edit-img-submitted" id="edit-img-submitted" value="True">
          </div>
          
          <div class="edit-img-id" style="display:none;">
            <input type="text" name = "edit-img-id" id="edit-img-id" value="">
          </div>      
          <button type="submit" class="btn btn-default">Edit Image</button>
      </form>
    </div>
    </div>
  </div>
</div>


{%endblock%}